.location {
  text-align: left;
  margin-bottom: 86px;
}
.location__container {
  padding: 0 32px;
}
.location__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}
.location__coordinates {
  display: flex;
}
.location__map {
  width: 869px;
  height: 376px;
  border-radius: 30px;
  margin-right: 24px;
  position: relative;
}
.location-map__point {
  position: absolute;
  top: calc(376px / 2);
  left: calc(670px / 2);
  transform: translateY(-50%);
}

.description {
  width: 424px;
}
.description__text {
  font-size: 22px;
  color: rgba(12, 17, 31, 0.6);
  margin-bottom: 24px;
  line-height: 36px;
}

.location__exact {
  background: #f2f2f2;
  border-radius: 40px;
  padding: 12px 32px;
  display: flex;
  justify-content: center;
  color: #828282;
  font-size: 20px;
  width: max-content;
}
