.procedures {
  margin-bottom: 83px;
}
.procedures__container {
  padding: 0 32px;
  width: 910px;
}
.procedures__title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}
.procedures__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: 494px;
  color: #6d7079;
  margin-bottom: 39px;
}
.procedures__selected {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}
.procedures__selected p {
  font-weight: 400;
  font-size: 16px;
  color: #6d7079;
}
.procedures__selected button {
  border: none;
  background: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.procedures__list {
  overflow: hidden;
}
.procedures__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  padding-left: 27px;
  margin-bottom: 36px;
  cursor: pointer;
}
.procedures__arrow {
  position: absolute;
  right: 8px;
  top: 7px;
  transition: all 0.3s;
}
.opened.procedures__arrow {
  transform: rotate(180deg);
}

.procedures__item::before {
  content: "";
  width: 7px;
  height: 3px;
  background: #0c111f;
  position: absolute;
  left: 2px;
  top: 14px;
}
